/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.weather-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Search bar */
.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Weather info */
.weather-info h1 {
    font-size: 24px;
    margin: 0;
}
.weatherCondition{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10%;
}
.weather-info p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.weather-icon img {
    max-width: 50px;
}

.temperature {
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-details p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}
.weather-info-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;

}
.additional-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 50px 0px; */
}